section.artikel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 30vh;
    margin-top: 7vh;
    border: 1px solid #888888;
    box-shadow: 5px 5px 8px #888888 ;
    
    

    section.picture{
        display: flex;
        height: 30vh;
        width: 30%;
        min-width: 200px;
        background-color: black;
    }
    section.information{
        display: flex;
        justify-content: space-around;
        padding-left: 60px;
        padding-right: 60px;
        align-items: flex-start;
        flex-direction: column;
        height: 30vh;
        width: 70%;

        h1.headline{
            color: red;
            border: none;
        }

        div.preis{
            align-self: flex-end;
            justify-self: flex-end;
        }

        div.footer{
            justify-self: flex-end;
        }
    }
 
}