.produkte{
    margin: 200px auto;
    width: 90%;
    background-color: rgb(255, 255, 255);

     h1{
        color:black;
        width: 100%;
        margin: auto;
        padding-bottom: 10px;
        align-self: flex-start;
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: lighter;
        border-bottom: 0.3px solid #888888;
    }


}
