section.banner {
  background-image: url("https://wallpapercave.com/wp/GSiwme6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  display: flex;
  position: static;
  justify-content: flex-start;
  align-items: flex-end;
  animation: slide .7s forwards ease;
  &::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    animation: .5s slideIn forwards ease .7s;
    background-color: rgba(0,0,0,0.4);
  }
}

@keyframes slide {
  from {
    background-position: top;
    transform: scale(1.1);
  }
  to {
    background-position: center;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    height: 0;
  }
  to {
    height: 70vh;
  }
}
