.box {
  display: flex;
  width: 400px;
  height: 240px;
  box-shadow: 4px 4px 8px #888888;
  background-color: rgba(255, 255, 255, 1);
  animation: fadeInBox .7s forwards ease-in-out;
  justify-content: space-around;
  position: relative;
  bottom: -120px;
  left: 50%;
  margin-left: -200px;

  .text{
    height: 100%;
    width: 100%;
    color: black;
    font-family: Bradley Hand, cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      margin: 0 10px 0 10px;
      font-size: 40px;
      max-width: 340px;
      position: relative;
    }
  }


}

@keyframes fadeInBox {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
